h1 {
    font-family: "Alga", serif;
    margin-bottom: 4px;
    font-size: 2.5em;
}
h3 {
    font-family: "Alga", serif;
    /* width: 100%;
    max-width: 300px; */
}
h2 {
    font-family: "Alga", serif;
    font-weight: 100;
    font-size: 2.4em;
}
h4 {
    font-family: "Alga", serif;
    font-weight: 100;
    font-size: 1.4em;
    margin: 0 0 4px 0;
}
span {
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 1em;
    font-weight: 100;
}
.secondary-text-title {
    font-family: "Alga", serif;
    font-weight: 100;
    font-size: 1.33em;
    color: #FFFFFF;
    line-height: 1.66em;
}
.secondary-text {
    color: #FFFFFF;
    line-height: 1.33em;
}


body {
    margin: 0px !important;
    background-color: #F5F1E7;
    max-width: 100vw !important;
    overflow-x: hidden;
}


/* Section 1 */
.container_1 {
    color: #F6F5F2;
    background-color: #D0D7CC;
    width: 100%;
    height: 100%;
    padding-bottom: 84px;
    padding-top: 40vh;
}
.item-a {
    padding-left: 84px;
  }
.WideLine {
    width: 93vw;
}


  /* Section 2 */
.container_2 {
    background-color: #B7C4CF;
    height: 100vh;
    background-image: url("SVG/Map.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Section 3 */
.container_3 {
    color: #7D8B8A;
    background-color: #F5F1E7;
    /* min-height: 80vh; */
    margin: 48px 0px 84px 0px;
    padding-left: 50vw;
    padding-right: 84px;


    background-image: url("SVG/Leaf.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.item-b {
    display: inline-block !important;
    max-width: 36vw;
    height: 100%;
}
.details-title {
    height: 200px;x
}
.vert-line {
    padding: 0, 8;
}


/* Section 4 */
.container_4 {
    color: #FFFFFF;
    background-color: #B7C4CF;
    min-height: 90vh;
    padding-left: 10vw;

    background-image: url("SVG/Swoosh.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.vert-line-2 {
    display: inline-block;
    margin-right: 48px;
    position: relative;
    bottom: -24px;
}
.item-c {
    display: inline-block !important;
    position: relative;
    bottom: 164px;
    max-width: 50vw;
}
.big-text {
    font-size: 1.5em;
    line-height: 1.6em;
}








/* MOBILE */


@media only screen and (max-width: 600px) {

/* Section 1 */
.item-a {
    padding-left: 16px;
  }


/* Section 2 */
.container_2 {
    height: 60vh;
    }

/* Section 3 */
.container_3 {
    margin: 0px;
    padding: 64px 16px;

    background-size: cover;
}
.item-b {
    max-width: 60vw;
}

/* Section 4 */
.container_4 {
    background-size: cover;
    padding-left: 16px;
    min-height: 100vh;
}
.vert-line-2 {
    margin-right: 4px;
    position: relative;
    bottom: -84px;
}
.item-c {
    position: relative;
    bottom: -24px;
    min-width: 80%;
}
.big-text {
    font-size: 1.3em;
    line-height: 1.4em;
}


  }